In [4]:
import fred
from config import API_KEY

In [5]:
fred.key(API_KEY)

In [6]:
fred.category()

{'categories': [{'id': 0, 'name': 'Categories', 'parent_id': 0}]}

In [7]:
fred.series('USREC')

{'realtime_start': '2018-12-08',
 'realtime_end': '2018-12-08',
 'seriess': [{'id': 'USREC',
   'realtime_start': '2018-12-08',
   'realtime_end': '2018-12-08',
   'title': 'NBER based Recession Indicators for the United States from the Period following the Peak through the Trough',
   'observation_start': '1854-12-01',
   'observation_end': '2018-11-01',
   'frequency': 'Monthly',
   'frequency_short': 'M',
   'units': '+1 or 0',
   'units_short': '+1 or 0',
   'seasonal_adjustment': 'Not Seasonally Adjusted',
   'seasonal_adjustment_short': 'NSA',
   'last_updated': '2018-12-03 18:11:02-06',
   'popularity': 74,
   'notes': "This time series is an interpretation of US Business Cycle Expansions and Contractions data provided by The National Bureau of Economic Research (NBER) at http://www.nber.org/cycles/cyclesmain.html. Our time series is composed of dummy variables that represent periods of expansion and recession. The NBER identifies months and quarters of turning points without designating a date within the period that turning points occurred. The dummy variable adopts an arbitrary convention that the turning point occurred at a specific date within the period. The arbitrary convention does not reflect any judgment on this issue by the NBER's Business Cycle Dating Committee. A value of 1 is a recessionary period, while a value of 0 is an expansionary period. For this time series, the recession begins the first day of the period following a peak and ends on the last day of the period of the trough. For more options on recession shading, see the notes and links below.\n\nThe recession shading data that we provide initially comes from the source as a list of dates that are either an economic peak or trough. We interpret dates into recession shading data using one of three arbitrary methods. All of our recession shading data is available using all three interpretations. The period between a peak and trough is always shaded as a recession. The peak and trough are collectively extrema. Depending on the application, the extrema, both individually and collectively, may be included in the recession period in whole or in part. In situations where a portion of a period is included in the recession, the whole period is deemed to be included in the recession period.\n\nThe first interpretation, known as the midpoint method, is to show a recession from the midpoint of the peak through the midpoint of the trough for monthly and quarterly data. For daily data, the recession begins on the 15th of the month of the peak and ends on the 15th of the month of the trough. Daily data is a disaggregation of monthly data. For monthly and quarterly data, the entire peak and trough periods are included in the recession shading. This method shows the maximum number of periods as a recession for monthly and quarterly data. The Federal Reserve Bank of St. Louis uses this method in its own publications. A version of this time series represented using the midpoint method can be found at:\n\nhttps://fred.stlouisfed.org/series/USRECM\n\nThe second interpretation, known as the trough method, is to show a recession from the period following the peak through the trough (i.e. the peak is not included in the recession shading, but the trough is). For daily data, the recession begins on the first day of the first month following the peak and ends on the last day of the month of the trough. Daily data is a disaggregation of monthly data. The trough method is used when displaying data on FRED graphs. The trough method is used for this series.\n\nThe third interpretation, known as the peak method, is to show a recession from the period of the peak to the trough (i.e. the peak is included in the recession shading, but the trough is not). For daily data, the recession begins on the first day of the month of the peak and ends on the last day of the month preceding the trough. Daily data is a disaggregation of monthly data. A version of this time series represented using the peak method can be found at:\n\nhttps://fred.stlouisfed.org/series/USRECP"}]}

In [8]:
data = fred.observations('USREC')

In [9]:
import pandas as pd
recession_index_df = pd.DataFrame.from_dict(data)

In [10]:
recession_index_df.head(500)

,realtime_start,realtime_end,observation_start,observation_end,units,output_type,file_type,order_by,sort_order,count,offset,limit,observations
0,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
1,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
2,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
3,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
4,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
5,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
6,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
7,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
8,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
9,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
10,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
11,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
12,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
13,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
14,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
15,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
16,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
17,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
18,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
19,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
20,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
21,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
22,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
23,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
24,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
25,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
26,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
27,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
28,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
29,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
471,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
472,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
473,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
474,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
475,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
476,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
477,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
478,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
479,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
480,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
481,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
482,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
483,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
484,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
485,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
486,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
487,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
488,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
489,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
490,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
491,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
492,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
493,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
494,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
495,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
496,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
497,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
498,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."
499,2018-12-08,2018-12-08,1600-01-01,9999-12-31,lin,1,json,observation_date,asc,1968,0,100000,"{'realtime_start': '2018-12-08', 'realtime_end..."

In [22]:
ob_recession_df = recession_index_df['observations']
ob = pd.DataFrame.from_dict(ob_recession_df, orient='columns')
ob.head(1)

                                        observations
0  {'realtime_start': '2018-12-08', 'realtime_end...

In [39]:
dates = []
values = []

for x in range(len(ob)):
    a = ob['observations'][x]['date']
    b = ob['observations'][x]['value']
    dates.append(a)
    values.append(b)

In [43]:
observation_rec = pd.DataFrame(
    {'Date': dates,
     'Recession_Indicator': values
     })

In [44]:
observation_rec.head()

         Date Recession_Indicator
0  1854-12-01                   1
1  1855-01-01                   0
2  1855-02-01                   0
3  1855-03-01                   0
4  1855-04-01                   0

In [45]:
observation_rec.to_csv('recession.csv')