In [12]:
import pandas as pd

import sqlite3
from sqlite3 import Error

In [13]:
Currency_exchange = pd.read_csv("new.csv")
Currency_exchange.columns =['month','av-USD-EUR','min-USD-EUR','max-USD-EUR','nb-days']
Currency_exchange

       month  av-USD-EUR  min-USD-EUR  max-USD-EUR  nb-days
0    11/2018    0.879773     0.870549     0.888021       22
1    10/2018    0.870816     0.861623     0.883548       23
2     9/2018    0.857763     0.849113     0.864902       20
3     8/2018    0.865963     0.853971     0.883314       23
4     7/2018    0.855759     0.848248     0.862962       22
5     6/2018    0.856336     0.844880     0.867002       21
6     5/2018    0.846676     0.832848     0.865202       22
7     4/2018    0.814625     0.807233     0.828500       20
8     3/2018    0.810642     0.805088     0.821625       21
9     2/2018    0.809896     0.800448     0.818733       20
10    1/2018    0.819851     0.802761     0.838082       22
11   12/2017    0.844888     0.833820     0.852079       19
12   11/2017    0.852009     0.836680     0.864902       22
13   10/2017    0.850666     0.843455     0.861698       22
14    9/2017    0.839346     0.829187     0.851716       21
15    8/2017    0.846969     0.830013     0.853971       23
16    7/2017    0.868839     0.852588     0.882690       21
17    6/2017    0.890555     0.876194     0.897102       22
18    5/2017    0.904505     0.889442     0.920810       22
19    4/2017    0.932703     0.914913     0.945358       18
20    3/2017    0.936016     0.918358     0.951113       23
21    2/2017    0.939664     0.925241     0.951203       20
22    1/2017    0.942206     0.929800     0.962927       22
23   12/2016    0.948636     0.929195     0.964878       21
24   11/2016    0.926326     0.901307     0.948047       22
25   10/2016    0.907036     0.889996     0.919794       21
26    9/2016    0.891907     0.885269     0.897183       22
27    8/2016    0.891965     0.881912     0.902690       23
28    7/2016    0.903484     0.896298     0.910581       21
29    6/2016    0.890646     0.878040     0.909256       22
..       ...         ...          ...          ...      ...
754   1/1956    0.958285     0.957764     0.958797       22
755  12/1955    0.957653     0.956371     0.958944       22
756  11/1955    0.956937     0.956244     0.957834       22
757  10/1955    0.957459     0.955577     0.958268       21
758   9/1955    0.955169     0.954301     0.955881       22
759   8/1955    0.954647     0.954344     0.955230       23
760   7/1955    0.955716     0.954398     0.956472       21
761   6/1955    0.955690     0.954665     0.956178       22
762   5/1955    0.954174     0.953454     0.954727       22
763   4/1955    0.952932     0.950662     0.954239       21
764   3/1955    0.949733     0.948634     0.950611       23
765   2/1955    0.949738     0.948837     0.950146       20
766   1/1955    0.950340     0.949432     0.951013       21
767  12/1954    0.951197     0.950437     0.951695       23
768  11/1954    0.951520     0.950666     0.951954       22
769  10/1954    0.951935     0.951157     0.952817       21
770   9/1954    0.951812     0.950756     0.952299       22
771   8/1954    0.953965     0.952427     0.954913       22
772   7/1954    0.954288     0.953669     0.954840       22
773   6/1954    0.953999     0.952603     0.954755       22
774   5/1954    0.954579     0.953937     0.955176       21
775   4/1954    0.955046     0.954641     0.955345       22
776   3/1954    0.955169     0.954727     0.955388       23
777   2/1954    0.954769     0.954296     0.955263       20
778   1/1954    0.955023     0.954203     0.955732       21
779  12/1953    0.955114     0.954246     0.955735       23
780  11/1953    0.954651     0.954229     0.954971       21
781  10/1953    0.955238     0.954682     0.955608       22
782   9/1953    0.953999     0.952072     0.955828       22
783   8/1953    0.953595     0.952074     0.955221       16

[784 rows x 5 columns]

In [14]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    finally:
        conn.close()
 
if __name__ == '__main__':
    create_connection("new.sqlite")

2.6.0

In [39]:
conn = sqlite3.connect("salaries.db")
cur = conn.cursor()
#Currency_exchange.to_sql(name = "currency", con = conn)

In [43]:
query = "SELECT * FROM salaries;"

In [44]:
df = pd.read_sql_query(query,conn)

In [45]:
df

,name,position,department,salary
0,Name,Position Title,Department,Employee Annual Salary
1,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
2,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
4,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
5,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00
6,"ABARCA, ANABEL",ASST TO THE ALDERMAN,CITY COUNCIL,$70764.00
7,"ABARCA, EMMANUEL",GENERAL LABORER - DSS,STREETS & SAN,$40560.00
8,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,$91520.00
9,"ABBATEMARCO, JAMES J",FIRE ENGINEER,FIRE,$90456.00
10,"ABBATE, TERRY M",POLICE OFFICER,POLICE,$86520.00
11,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,$2756.00
12,"ABBOTT, LYNISE M",CLERK III,POLICE,$43920.00
13,"ABBRUZZESE, WILLIAM J",INVESTIGATOR - IPRA II,IPRA,$72468.00
14,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,$69684.00
15,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,$80778.00
16,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,$98244.00
17,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,$80778.00
18,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,$87720.00
19,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,$106104.00
20,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,$91764.00
21,"ABDULLAH, KEVIN",LIEUTENANT,FIRE,$110370.00
22,"ABDULLAH, LAKENYA N",CROSSING GUARD,POLICE,$16692.00
23,"ABDULLAH, RASHAD J",ELECTRICAL MECHANIC-AUTO-POLICE MTR MNT,GENERAL SERVICES,$91520.00
24,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,$40560.00
25,"ABEJERO, JASON V",POLICE OFFICER,POLICE,$86520.00
26,"ABERCROMBIE IV, EARL S",PARAMEDIC,FIRE,$54114.00
27,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,$71780.80
28,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,$24835.20
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,DoIT,$104736.00
...,...,...,...,...
32153,"ZUNIGA, JURDON",POLICE OFFICER,POLICE,$69684.00
32154,"ZUNIGA, OSCAR",POLICE OFFICER,POLICE,$69684.00
32155,"ZUNIGA, RONALD",POLICE OFFICER,POLICE,$86520.00
32156,"ZUNIGA, THOMAS",GENERAL LABORER - DSS,STREETS & SAN,$43201.60
32157,"ZUNIGA, VICENTE",FIREFIGHTER-EMT,FIRE,$88680.00
32158,"ZUNO, ERIK",LABORER - APPRENTICE,WATER MGMNT,$63232.00
32159,"ZUPAN, BILL M",LIEUTENANT-EMT,FIRE,$106524.00
32160,"ZUPANCIC, KELLY",POLICE OFFICER,POLICE,$46206.00
32161,"ZUPAN, VICTORIA J",POLICE OFFICER,POLICE,$80778.00
32162,"ZURAWSKI, CAROL A",CROSSING GUARD,POLICE,$21080.80
32163,"ZURAWSKI, JEFFREY",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,$97448.00
32164,"ZURAWSKI, MAC Z",SANITATION LABORER,STREETS & SAN,$72384.00
32165,"ZURAWSKI, MARY E",POLICE OFFICER,POLICE,$89718.00
32166,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,$91520.00
32167,"ZUREK, MARY H",SENIOR PUBLIC INFORMATION OFFICER,FINANCE,$80916.00
32168,"ZURITA, ADRIEL",POLICE OFFICER,POLICE,$46206.00
32169,"ZVANJA, TINA M",LEGAL SECRETARY,LAW,$69888.00
32170,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,POLICE,$16692.00
32171,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,$71780.80
32172,"ZWIESLER, MATTHEW",AIRPORT OPERATIONS SUPVSR I,AVIATION,$69840.00
32173,"ZWIT, JEFFREY J",POLICE OFFICER,POLICE,$83616.00
32174,"ZWOLFER, MATTHEW W",FIREFIGHTER-EMT,FIRE,$91764.00
32175,"ZYDEK, BRYAN",POLICE OFFICER,POLICE,$80778.00
32176,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,$92248.00
32177,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,$97448.00
32178,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,$86520.00
32179,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,$83616.00
32180,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,$86520.00
32181,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,$110352.00
32182,,,,